.classpath
.project
.metadata
.settings
build
bin
dist
lib
WebContent
.DS_Store
.idea
*.iml
.gradle
classes
out
node_modules
generated-sources
generated
generated_tests
src/main/product
.springBeans
.mtj.tmp/

fe/dist/
fe/node_modules/
fe/npm-debug.log

src/main/resources/templates/course.html
src/main/resources/application.yml
